@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;600;700&display=swap');

/* sidenav */
:root {
  --main-bg-color: #110b2e;
  --color1:rgb(137, 97, 247);
  --color2:rgb(146, 145, 150);
  --color3:rgb(0, 0, 0);
  --color2:#eab676;
  ;
}
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
}
/* for fixed header and side bar */
/* header style */
.header{
    display: grid;
    grid-template-columns: 200px 1fr;
    position:fixed;
}
.header i{
  padding: 3px;
} 
.header {
  width: 100%;
  position: fixed;
  padding: 15px;
  background: var(--main-bg-color);
  color: white;
}
.header h2{
  padding-left: 20px;
}
.head ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.head ul li {
  float: right;
}
.head ul li a {
  display: block;
  color: white;
  text-align: center;
  padding-left: 30px;
  text-decoration: none;
}
.head ul li a:hover {
  background-color: #111;
}
.head ul .dropdown:hover ul{
    display: initial;
    top:40px;
    right: 0;
} 
.head ul ul{
    display: none; 
    position: absolute;
    width: 130px;
    padding: 10px 20px 0 0;
    background: var(--main-bg-color);
}
/* expand button */
.btn{
  position: fixed;
  top: 5px;
  left: 10px;
  text-align: center;
  background:none;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn span{
  color: white;
  font-size: 20px;
  line-height: 45px;
}
/* sidebar style */
.sidebar{
  top: 65px;
  position:fixed;
  width: 240px;
  height: 100%;
  left: 0px;
  background: var(--main-bg-color);
  /* background: var(--color2); */
  transition: left 0.4s ease;
}
.sidebar.show{
  left: -200px;
}
.sidebar .text{
  color: white;
  font-size: 25px;
  font-weight: 400;
  line-height: 65px;
  text-align: center;
  letter-spacing: 1px;
}
.sidebar i{
  padding-right:15px;
}
nav ul{
  background: var(--main-bg-color);
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 50px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding-left: 5px;
  font-weight: 500;
  display: block;
  width: 100%;
}
nav ul li a:hover{
  background: rgb(138, 138, 138);
}
nav ul li a:focus{
  background: rgb(138, 138, 138);
}
nav ul ul{
  display: none;
  position: absolute;
  left: 240px;
  top:0;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 15px;
  color: #e6e6e6;
  padding-left: 20px;
  border-left: 1px solid transparent;
  border-left-color: white;
}
nav ul ul li a:hover{
  background: rgb(138, 138, 138);
}
nav ul li.dropdown{
    position: relative;
    padding: 0;
}
nav ul .dropdown:hover ul{
    display: initial;
}
nav i{
    padding: 5px;
}
/* card1 */
.card {
  grid-column:1/span3;
  margin: 5px;
  margin-bottom:10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  /* width: 95%; */
}
.card-header img {
  object-fit: contain;
  max-width: 100%;
  width: 100%;
  max-height: 450px;
  justify-content: center;
}

.card-header img:hover {
  opacity:0.8;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.tag {
  background: var(--main-bg-color);
  border-radius: 50px;
  font-size: 10px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.card-body p {
  font-size: 13px;
  margin: 0 0 20px;
}
.detail{
  display: flex;
  margin-top: 20px;
}
.detail img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.detail-info h5 {
  margin: 0;
}
.detail-info small {
  color: #545d7a;
}

/* icon with title part */
.hawlockhead{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 100px 2fr;
    align-items: center;
    background-color: white;
    margin: 80px 10px 5px 20px;
    border-radius: 5px;
}
.hawlockhead #title{
    color: #2a225a;
    font-size: 30px;
    margin-top: 0px;
    padding-left: 20px;
}
.hawlockhead #city{
  color: #3e3381;
}
.hawlockhead #logo{
    object-fit: cover;
    height: 150px;
    width: 150px;
    grid-column: 2;
    margin: -20px;
}
/* body part */
.hawlockbody{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 2fr 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    margin: 0px 10px 5px 20px;
    align-items: center;
}
.hawlockbody i,h4{
    color: black;
    grid-column: 1;
    grid-row: 1;
    padding: 20px;
}
/* form */
.form1 {
    grid-column: 2;
    font-size:small;
    background-color: none;
    padding: 0px;
    margin: 0 10px;
    border-radius: 5px;
}
form{
  margin-bottom: 0;
}
.form1 label {
  display: inline-block;
  width: 150px;
  text-align: right;
  padding-right: 10px;
}
.hawlockbody .input-field{ 
    width: 250px;
    height:35px;
    background-color: #f0f0f0;
    margin: 5px 0px;
    border-radius: 55px;
    /* position:static; */
    /* position:relative; */
    /* text-align:center; */
}
.error_form{
  color: red;
}
textarea:focus, input:focus{
    outline: none;
}
input[type=text]{
    width: 100%;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input[type=password]{
    border: 1px solid #ccc;
    padding: 10px 15px;

}
input[type=email]{
  border: 1px solid #ccc;
  padding: 10px 15px;

}
.hawlockbody input[type=submit] {
    background-color: #2a225a;
    color: white;
    padding: 5px 10px;
    margin: auto;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    grid-column: 3;
}
.hawlockbody button[type=submit]{
  cursor: pointer;
}

.purplebutton{
  background-color: #2a225a;
  color: white;
  padding: 5px 10px;
  
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.hawlockbody  input[type=submit]:hover {
  background-color: #02000c;
}
.hawlockbody  label{
  margin-left: 5px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;  
}
/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid white;
}
th {
  text-align:center;
  padding: 8px;
  border: 1px solid white;
}
td {
  text-align: left;
  padding: 8px;
  /* border-radius: 15px; */
  border:2px solid white;
}
tr{
  background-color: #8880b6;
}

.footer{
	height: 25px;
  width:100%;
  background:linear-gradient(to right,#211a49,#927ffc);
	text-align: center;
	font-size: 10px;
	padding-top: 20px;
}
/* body responsive */
@media(max-width:768px) {
    .hawlockbody{
        grid-column: 1/span3;
    }
    .hawlockhead{
        grid-column: 1/span3;
    }
/* form responsive */
    .form1 {
      grid-column: 1/span2;
      /* margin: auto; */
    }
    .hawlockbody .input-field{ 
      width: 200px;
  }
}
@media(max-width:920px) {
    .hawlockbody{
        grid-template-columns: 1fr;
    }
}

/* resident-signup-page */

.signup_container{
  grid-column:1/span3;
}
.signup_container form {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.signup_container .input-field-signup{
  max-width: 380px;
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  margin: 10px 0px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  margin-bottom: 20px;
  position: relative;
}

.signup_container .input-field-signup i{
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.5rem;
  padding: 0px;
}

.signup_container .input-field-signup input{
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 300;
  font-size: 20px;
  color: #333; 
}

.signup_container .btn-signup{
  margin-top: 20px;
}

.signup_container .input-field-signup .error_form {
  grid-column: 3;
  margin-top: 20px;
  margin-left: 40px;
  font-family: Arial;
  font-size: 13px;
  color: #ff0808;
  width: 250px;
}

.signup_container .input-field-signup input:placeholder-shown{
  
  color: rgb(43, 36, 36);
  font-weight: 500;
  border: none;
  background: none;
  outline: none;
}

.signup_container .input-field-signup #form_apartment{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-weight: 300;
  font-size: 20px;
}

.red_alert {
  margin-top: 20px;
  padding: 20px;
  max-width:350px;
  border-radius:50px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}
.red_alert .closebtn{
  margin-right:20px;
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
}

/* responsive resident signup page */
@media(max-width:1100px){
  .signup_container .input-field-signup .error_form {
      grid-column: 2;
      margin-top: 5px;
      margin-left: 40px;
      font-family: Arial;
      font-size: 13px;
      align-items: center;
      color: #ff0808;
      width: 250px;
  }
}
/* tab for change*/
.tabs{
  width:100%;
  height:auto;
  margin:0 auto;
}

/* tab list item */
.tabs .tabs-list{
  list-style:none;
  margin:10px;
  padding:10px;
}
.tabs .tabs-list li{
  width:200px;
  float:left;
  margin:2px 2px;
  padding:10px 5px;
  text-align: center;
  background-color:#5747b4;
  border-radius:3px;
}
.tabs .tabs-list li:hover{
  cursor:pointer;
}
.tabs .tabs-list li a{
  text-decoration: none;
  color:white;
}

/* Tab section */
.tabs .tab{
  display:none;
  width:96%;
  min-height:250px;
  height:auto;
  border-radius:3px;
  padding:20px 15px;
  color:white;
  clear:both;
}
.tabs .tab h3{
  letter-spacing:1px;
  font-weight:normal;
  padding:5px;
}
.tabs .tab p{
  line-height:20px;
  letter-spacing: 1px;
}

/*active state */
.active{
  display:block !important;
}
.tabs .tabs-list li.active{
  background-color:lavender !important;
  color:black !important;
}
.active a{
  color:black !important;
}

/* media query */
@media screen and (max-width:360px){
  .tabs{
      margin:0;
      width:96%;
  }
  .tabs .tabs-list li{
      width:80px;
  }
}


/* Start of Admin Styles */
/* Announcement Styles */
.sidenavform {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 65px;
  right: 0;
  background-color: whitesmoke;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
}
.sidenavform a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenavform a:hover {
  color: #292727;
}
.sidenavform .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#hb,#hh {
  transition: margin-right .5s;
  padding: 16px;
}
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}
.btnAddAnnouncement i {
  grid-column: 3 / span 1;
  font-size: 30px;
  float: left;
  cursor: pointer;
  width: min-content;
  padding: 20px;
}
.formAddAnnouncement {
  font-size: small;
  background-color: none;
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 5px;
}
.formAddAnnouncement>label {
  font-weight: bold;
  font-size: large;
}
.formAddAnnouncement .input-field {
  width: 100%;
  background-color: white;
  text-align: left;
  margin-bottom: 20px;
}
.formAddAnnouncement>textarea {
  min-width: 100%;
  max-width: 100%;
  background-color: white;
  text-align: left;
  border-radius: 5%;
  padding: 5px;
  margin-bottom: 20px;
}
.formAddAnnouncement>input[type="submit"] {
  margin-bottom: 40px;
}
.formAddAnnouncement .visibility {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.formAddAnnouncement .visibility>input {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* End of Admin Styles */